<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registered Successfully</title>
  </head>
  <body>
    <h1>Welcome to the website.</h1>
    <div>Your account has been created with email: <%= email %></div>
  </body>
</html>
